<template>
	<div class="wrapper">
        <div class="container container-sm">
        	<div class="title t-center">
            	<v-scroll animation="scale">
					<h1>404 :(</h1>
				</v-scroll>
        	</div>
        </div>
	</div>
</template>

<script>
	export default {
		methods: {
			afterEnter() {
				console.log('after enter');
			}
		}
	}
</script>