<template>
	<div class="wrapper">
		<div class="section">
			<div class="container">
				<h1>{{ $t('nav.about') }}</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi dolorem explicabo eos, laborum iusto aperiam dolore rerum quae, labore optio mollitia velit quisquam sit! Dicta reprehenderit quaerat sunt odio ut.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nisi qui fugiat sint ab vel, at architecto aliquid fuga repellat nobis corrupti impedit ipsa, cum! Esse nobis ut vitae optio?</p>
			</div>
			<div class="container">
				<v-scroll animation="slideUp">
					<h2>Title 1</h2>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores laborum id architecto, placeat voluptates consectetur quos error repudiandae voluptatibus rem, quod natus provident porro quisquam molestias! Nulla, et, labore?</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores laborum id architecto, placeat voluptates consectetur quos error repudiandae voluptatibus rem, quod natus provident porro quisquam molestias! Nulla, et, labore?</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptate, ut. Ad illo soluta esse quia amet vitae accusantium fuga odio illum architecto, iusto vero libero commodi quae fugit culpa.</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum amet aliquam provident ex vitae quasi. Saepe perferendis blanditiis inventore incidunt, atque vitae ipsum laudantium nobis placeat veritatis consectetur? Dolorum, facere.</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, modi veniam laboriosam quia eveniet, dolorem odit facilis ullam reiciendis dignissimos alias velit consequatur quidem non amet. Dolore nulla error mollitia!</p>
				</v-scroll>
			</div>
			<div class="container">
				<v-scroll animation="slideUp">
					<h2>Title 2</h2>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores laborum id architecto, placeat voluptates consectetur quos error repudiandae voluptatibus rem, quod natus provident porro quisquam molestias! Nulla, et, labore?</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores laborum id architecto, placeat voluptates consectetur quos error repudiandae voluptatibus rem, quod natus provident porro quisquam molestias! Nulla, et, labore?</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptate, ut. Ad illo soluta esse quia amet vitae accusantium fuga odio illum architecto, iusto vero libero commodi quae fugit culpa.</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum amet aliquam provident ex vitae quasi. Saepe perferendis blanditiis inventore incidunt, atque vitae ipsum laudantium nobis placeat veritatis consectetur? Dolorum, facere.</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, modi veniam laboriosam quia eveniet, dolorem odit facilis ullam reiciendis dignissimos alias velit consequatur quidem non amet. Dolore nulla error mollitia!</p>
				</v-scroll>
			</div>
			<div class="container">
				<v-scroll animation="slideUp">
					<h2>Title 3</h2>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores laborum id architecto, placeat voluptates consectetur quos error repudiandae voluptatibus rem, quod natus provident porro quisquam molestias! Nulla, et, labore?</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum maiores laborum id architecto, placeat voluptates consectetur quos error repudiandae voluptatibus rem, quod natus provident porro quisquam molestias! Nulla, et, labore?</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptate, ut. Ad illo soluta esse quia amet vitae accusantium fuga odio illum architecto, iusto vero libero commodi quae fugit culpa.</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum amet aliquam provident ex vitae quasi. Saepe perferendis blanditiis inventore incidunt, atque vitae ipsum laudantium nobis placeat veritatis consectetur? Dolorum, facere.</p>
				</v-scroll>
				<v-scroll animation="slideUp">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, modi veniam laboriosam quia eveniet, dolorem odit facilis ullam reiciendis dignissimos alias velit consequatur quidem non amet. Dolore nulla error mollitia!</p>
				</v-scroll>
			</div>
		</div>
	</div>
</template>