<template>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="title">
                        <v-scroll animation="slideRight">
                            <h1>{{ $t("contact.title") }}</h1>
                        </v-scroll>
                    </div>
                    
                    <v-scroll animation="slideLeft">
                    <div class="container-sm">
                        <form @submit.prevent="sendEmail()">
                            <div class="form-group">
                                <label for="name" class="label-control">{{ $t('contact.form.name') }}*</label>
                                <input v-model="data.name" type="text" class="form-control" required >
                            </div>
                            <div class="form-group">
                                <label for="email" class="label-control">{{ $t('contact.form.email') }}*</label>
                                <input v-model="data.email" type="email" class="form-control" required >
                            </div>
                            <div class="form-group">
                                <label for="phone" class="label-control">{{ $t('contact.form.phone') }}*</label>
                                <input v-model="data.phone" type="phone" class="form-control" required >
                            </div>
                            <div class="form-group">
                                <label for="message" class="label-control">{{ $t('contact.form.message') }}*</label>
                                <textarea v-model="data.message" rows="10" class="form-control" required ></textarea>
                            </div>
                            
                            <input type="submit" class="btn" :value="$t('contact.form.send')">
                            <br>
                            <br>

                            <transition name="scale">
                                <span v-if="error" class="after-mail error">{{ $t('contact.error') }}</span>
                                <span v-if="success" class="after-mail success">{{ $t('contact.success') }}</span>
                            </transition>
                            
                        </form>
                    </div>
                    </v-scroll>
                </div>

                <v-scroll animation="slideRight">
                <div class="col-md-6 coordinates">
                    <h2>{{ $t("contact.coordinates") }}</h2>
                    <h3>{{ $t("contact.email") }}</h3>
                    <span>{{ config.emails[0] }}</span>
                    <h3>{{ $t("contact.phone") }}</h3>
                    <span>{{ config.phones[0] }}</span>
                    <h3>{{ $t("contact.address") }}</h3>
                    <span>{{ config.adress.adress }}</span>
                    <span>{{ config.adress.city }} {{ config.adress.zipcode }}</span>
                    <span>{{ config.adress.country }}</span>
                </div>
                </v-scroll>
            </div> 
        </div>
    </div>
</template>

<script>

import Config from '../../config.js'

export default {
    data() {
        return {
            config: Config,
            error: false,
            success: false,
            data: {
                name: '',
                email: '',
                phone: '',
                message: '',
                type: '',
                service: '',
            }
        }
    },

	methods: {
        sendEmail() {
            var vm = this
            var text =  "<h2>New message from website contact form</h2>" +
                        "<p><strong>Nom: </strong>" + this.data.name + "</p>" +
                        "<p><strong>Email: </strong>" + this.data.email + "</p>" +
                        "<p><strong>Phone: </strong>" + this.data.phone + "</p>" +
                        "<p><strong>Message: </strong></br>" + this.data.message + "</p>"

            this.error = false
            this.success = false

            this.$http.post('https://mandrillapp.com/api/1.0/messages/send.json', {
                "key": "yyRbndvUFNx5Uzy1Z9FHhA",
                "message": {
                    "from_email": vm.data.email,
                    "to": [{
                        "email": this.config.emails[0],
                        "name": this.config.title,
                        "type": "to"
                    }],
                    "autotext": "true",
                    "subject": "New message from website contact form - " + this.config.title,
                    "html": text
                }
            }).then((response) => {
                this.success = true
                this.data = {
                    name: '',
                    email: '',
                    phone: '',
                    message: '',
                    type: '',
                    service: '',
                }
            }, (response) => {
                this.error = true
            })
        }
    }
}
</script>