@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-BoldItalic.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-BoldItalic.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-MediumItalic.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-MediumItalic.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-LightItalic.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-LightItalic.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-Book.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-Book.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-BookItalic.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-BookItalic.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-DemiItalic.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-DemiItalic.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-DemiItalic.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-DemiItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-Medium.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-Medium.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-Demi.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-Demi.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-Demi.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-Bold.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-Bold.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../../src/assets/fonts/maison/MaisonNeue-Light.eot');
	src: url('../../src/assets/fonts/maison/MaisonNeue-Light.eot?#iefix') format('embedded-opentype'),
		url('../../src/assets/fonts/maison/MaisonNeue-Light.woff') format('woff'),
		url('../../src/assets/fonts/maison/MaisonNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}