<template>
    <footer>
        <div class="container">
            <div class="top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about">
                            <h3>{{ $t('nav.home') }}</h3>
                            <p>{{ $t('nav.home') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="menu">
                                    <h3>{{ $t('nav.home') }}</h3>
                                    <a href="/">{{ $t('nav.home') }}</a>
                                    <a href="/applications">{{ $t('nav.home') }}</a>
                                    <a href="/technology">{{ $t('nav.home') }}</a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="menu">
                                    <h3>{{ $t('nav.home') }}</h3>
                                    <a v-bind:href="'mailto:' + emails[0]">Send email</a>
                                    <a href="/contact">{{ $t('nav.home') }}</a>
                                    <a href="/about">{{ $t('nav.home') }}</a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="menu">
                                    <h3>{{ $t('nav.home') }}</h3>
                                    <a href="/terms">{{ $t('nav.home') }}</a>
                                    <a href="/privacy">{{ $t('nav.home') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="rights">
                    © {{ date }} {{ title }}
                </div>
                <div class="author">
                    <a href="http://witify.io">{{ $t('footer.proudly') }}</a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    import Config from '../../config'

    export default {
        data() {
            return {
                emails: Config.emails,
                title: Config.title,
                date: ''
            }
        },
        mounted() {
            this.date = new Date()
            this.date = this.date.getFullYear()
        }
    }
</script>