<template>
	<nav>
		<div class="container">
			<div class="header">
				<router-link :to="'/' + $route.params.lang + '/'">
					Logo
				</router-link>
			</div>
			<div class="navigation">
				<ul>
	                <!-- Nav Links -->
	                <li><router-link :to="'/' + $route.params.lang + '/about'" exact>{{ $t("nav.about") }}</router-link></li>
	                <li><router-link :to="'/' + $route.params.lang + '/contact'" exact>{{ $t("nav.contact") }}</router-link></li>
					
					<!-- Lang Links -->
					<div class="lang" v-if="multiLang">
		                <li v-if="$route.params.lang == 'fr'"><router-link :to="{ path: pathTo('en') }">EN</router-link></li>
		                <li v-if="$route.params.lang == 'en'"><router-link :to="{ path: pathTo('fr') }">FR</router-link></li>
					</div>
	            </ul>
			</div>
    	</div>
	</nav>
</template>

<script>
	import Config from '../../config'
	export default {
		data() {
			return {
				multiLang: Config.multiLang,
				mobileMenuIsOpen: false,
				inRouteChange: false,
				title: ''
			}
		},
		mounted() {
			this.title = this.$store.state.route.title
		},
		methods: {
			toggle() {
				this.mobileMenuIsOpen = !this.mobileMenuIsOpen;
			},
			pathTo(lang) {
				var path = this.$route.path
				return '/' + lang + path.substring(path.substring(1).indexOf("/") + 1)
			}
		},
		watch: {
			// Listen for title changes
			'$store.state.route.title': function(to, from) {
				this.inRouteChange = true
				this.mobileMenuIsOpen = false
			},
			// Listen for lang changes
			'$store.state.lang': function(to, from) {
				this.inRouteChange = true
				this.mobileMenuIsOpen = false
			}
		}
	}
</script>