.slideLeft {
	transform: translateX(-40px);
	opacity: 0;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  	transition:         all 1s cubic-bezier(0.23, 1, 0.32, 1);

	&.animated {
		transform: translateX(0px);
		opacity: 1;
	}
}

.slideRight {
	transform: translateX(40px);
	opacity: 0;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  	transition:         all 1s cubic-bezier(0.23, 1, 0.32, 1);

	&.animated {
		transform: translateX(0px);
		opacity: 1;
	}
}

.slideUp {
	transform: translateY(70px);
	opacity: 0;
  	@include transition(all 0.5s ease);

	&.animated {
		transform: translateY(0px);
		opacity: 1;
	}
}

.scale {
	opacity: 0;
	@include transform(scale(1.1));
  	@include transition(all 1s ease);

	&.animated {
		opacity: 1;
		@include  transform(scale(1));
	}
}

.fade {
	opacity: 0;
  	@include transition(all 1s ease);

	&.animated {
		opacity: 1;
	}
}