form {
	.label-control {
		color: #333;
		font-size: 0.9em;
		font-weight: 500;
		display: block;
	}

	.form-control {
		height: 40px;
		border: #d1d1d1 2px solid;
		border-radius: 4px;
		padding: 10px 10px;
		width: 100%;
		margin-bottom: 10px;
		@include transition(all 0.3s);

		&:active, &:focus {
			box-shadow: none;
			border: #999 2px solid;
			outline: none;
		}
	}

	.radio {
		display: block;
		padding: 10px 20px;
		cursor: pointer;
		border: 2px solid #d1d1d1;
		border-radius: 4px;
		margin-bottom: 18px;
		@include transition(all 0.3s);

		&.active {
			border: 2px solid #333;
		}
	}

	textarea.form-control {
		height: inherit;
	}
}