/** Wrappers **/

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	overflow-x: hidden;
	background-color: #fff;
}

#app {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

.wrapper {
	padding-top: $navHeight;
	min-height: 100%;
}

/** Sections **/

.fullpage {
	height: 100%;
	width: 100%;
    padding: 0; 
}

.section {
	padding: 100px 0;
}

/** Containers **/

.container {
	margin: 0 auto;
}

.container-xs {
	max-width: 450px;
}

.container-sm {
	max-width: 600px;
}

.container-md {
	max-width: 800px;
}

.container-lg {
	max-width: 1200px;
}

img {
	max-width: 100%;
}

// No scrollbar

body::-webkit-scrollbar { 
    display: none; 
}

body::-webkit-scrollbar { 
    display: none; 
}