.t-center {
	text-align: center;
}

.t-left {
	text-align: left !important;
}

.t-justify {
	text-align: justify !important;
}

.d-center {
	margin: 0 auto;
}

.v-center {
	height: 100%;
	display: flex;
	flex-direction: column; /* direction d'affichage verticale */
  	justify-content: center; /* alignement vertical */
}

.padding {
	padding: 30px 20px;
}

.padding-lg {
	padding: 30px 50px;
}

.no-border {
	border: none !important;
}

/** Bootstrap vertical center **/
.bootstrap-v-center {
	float: initial;
	display: inline-block;
	vertical-align: middle;
}

.bm-no {
	margin-bottom: 0px;
}

.bm-xs {
	margin-bottom: 10px;
}

.bm-sm {
	margin-bottom: 20px;
}

.bm-md {
	margin-bottom: 50px;
}

.bm-lg {
	margin-bottom: 60px;
}

.tm-no {
	margin-top: 0px;
}

.tm-xs {
	margin-top: 10px;
}

.tm-sm {
	margin-top: 20px;
}

.tm-md {
	margin-top: 30px;
}

.tm-lg {
	margin-top: 60px;
}

.bp-no {
	padding-bottom: 0px;
}

.bp-xs {
	padding-bottom: 10px;
}

.bp-sm {
	padding-bottom: 20px;
}

.bp-md {
	padding-bottom: 50px;
}

.bp-lg {
	padding-bottom: 60px;
}

.tp-no {
	padding-top: 0px;
}

.tp-xs {
	padding-top: 10px;
}

.tp-sm {
	padding-top: 20px;
}

.tp-md {
	padding-top: 30px;
}

.tp-lg {
	padding-top: 60px;
}

// Stack all bootstrap rows
.row.stack {
	margin-left: 0;
	margin-right: 0;

	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		padding: 0;
		background-size: cover;
		background-position: center;
	}
}

// Anchor Link
.anchor {
	position: relative;
	top: -100px;
}