nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $navHeight;
	background-color: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	z-index: 1;

	.container {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.header {
		position: absolute;
	}

	.navigation {
		text-align: right;
		width: 100%;
		padding-left: 50px; // prevents colliding with header

		ul {
			list-style: none;
			li {
				display: inline-block;
				padding-left: 20px;
			}

			.lang {
				display: inline-block;
			}
		}
	}
}