/* Large Devices, Wide Screens */
@media only screen and (max-width : 1365px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
		
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	
	/** Text Size */
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.2em;
	}
	.title span {
		font-size: 1.2em;
	}

	.fullpage {
		margin-top: 65px !important;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
