.fade-enter-active, .fade-leave-active {
	@include transition(opacity .2s);
}

.fade-enter, .fade-leave-active {
	opacity: 0;
}

.slideUp-enter-active, .slideUp-leave-active {
	@include transition(all .5s);
}

.slideUp-enter, .slideUp-leave-active {
	opacity: 0;
	@include transform(translateY(60px));
}

.slideLeftRight-enter-active, .slideLeftRight-leave-active {
	@include transition(all .5s);
}

.slideLeftRight-enter, .slideLeftRight-leave-active {
	@include transform(translateX(60px));
	opacity: 0;
}

.scale-enter-active, .scale-leave-active {
	@include transition(all .5s);
}

.scale-enter, .scale-leave-active {
	@include  transform(scale(1.2));
	opacity: 0;
}

