@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700);

$mainFont: 'Maison Neue', 'helvetica neue', 'arial', sans-serif;

body {
	font-family: $mainFont;
	color: $black;
}

/**	Title **/
.title {
	margin-bottom: 30px;
	h1, h2, h3, h4, h5 {
		margin-bottom: 0;
	}
	span {
		margin-top: 0;
		font-size: 1.8em;
	}
}

h1 {
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 2.2em;
	font-weight: 700;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}


/** Links **/
a, a:focus, a:hover {
	text-decoration: none;
	color: inherit;
}

a.link {
	font-weight: 600;
	font-size: 1.2em;
	color: #333;
	display: inline-block;

	img {
		width: 30px;
		height: 23px;
		opacity: 0;
		@include transition(all 0.3s);
		@include transform(translateX(-5px));
	}

	&:hover {
		img {
			opacity: 1;
			@include transform(translateX(0px));
		}
	}
}

/** Color texts **/
p, span {
	color: #666;
	font-weight: 400;
	font-size: 1.1em;
}